[submodule "src/css/lib/WWW-Styles"]
	path = src/css/lib/WWW-Styles
	url = https://github.com/GeographicaGS/WWW-Styles.git
[submodule "src/js/lib/WWW-Builder"]
	path = src/js/lib/WWW-Builder
	url = https://github.com/GeographicaGS/WWW-Builder.git
