<div id="projdetail">

<section class="header">
    <div class="container" >
        <div class="row">
            <h2 class="col-xs-12">
                <%= project.name%>
            </h2>
            <div class="col-xs-12 hourssum mb30">
                <label><lang>Horas consumidas / Horas disponibles</lang></label>
                <span class="counter"><%= app.formatNumber(project.total_hours,0) %></span>
            </div>
        </div>
    </div>
</section>


<div class="container" >

    <div class="row">
        <div class="col-xs-8  ">

            <ul class="list budget">
                <li class="header">
                    <ul class="row">
                        <li class="col-xs-9 ">
                            <lang>Budget</lang>
                        </li>
                        <li class="col-xs-3 textright">
                            <lang>Amount</lang>
                        </li>
                    </ul>
                </li>
                <%_.each(project.budgets,function(b){ %>
                    <li>
                        <a href="#" data-budget="<%=b.id %>">
                            <ul class="row">
                                <li class="col-xs-9">
                                    <%= !b.desc ? "<lang>Initial budget</lang>" : b.desc %>
                                    -
                                    <span class="date"><%= moment(b.date).format("DD/MM/YYYY HH:MM") %></span>
                                </li>
                                <li class="col-xs-3 textright"><%= parseInt(b.amount) %><span class="euro"> &euro;</span></li>
                            </ul>
                        </a>
                    </li>
                <% }); %>
                <li>
                    <ul class="row">
                        <li class="col-xs-9 bold">Total</li>
                        <li class="col-xs-3 textright bold">
                            <%= project.total_budget %>
                            <span class="euro"> &euro;</span>
                        </li>
                    </ul>
                </li>
            </ul>

            <a href="#" id="addbudget" class="ctrladd">
                + <lang>Add budget</lang>
            </a>

            <div class="clear"></div>

            <ul class="list spendings">
                <li class="header">
                    <ul class="row">
                        <li class="col-xs-9 ">
                            <lang>Expenses</lang>
                        </li>
                        <li class="col-xs-3 textright">
                            <lang>Amount</lang>
                        </li>
                    </ul>
                </li>
                <%_.each(project.spendings,function(sp){ %>
                    <li>
                        <a href="#" data-spending="<%=sp.id %>">
                            <ul class="row">
                                <li class="col-xs-9">
                                    <span class="red"><%= sp.desc %></span>
                                    - 
                                    <span class="date red">
                                        <%= moment(sp.date).format("DD/MM/YYYY") %>
                                    </span>
                                </li>
                                <li class="col-xs-3 textright">
                                    <span class="red"><%= sp.amount %></span>
                                     <span class="euro"> &euro;</span>
                                </li>
                            </ul>
                        </a>
                    </li>
                <% }); %>
                <li>
                    <ul class="row">
                        <li class="col-xs-9 bold red">Total</li>
                        <li class="col-xs-3 textright bold red" >
                            <%= project.total_spendings %>
                            <span class="euro"> &euro;</span>
                        </li>
                    </ul>
                </li>
            </ul>

            <a href="#" id="addspending" class="ctrladd">
                + <lang>Add expense</lang>
            </a>

            <ul class="list listusers">
                <li class="header">
                    <ul class="row">
                        <li class="col-xs-8">
                            <lang>Team</lang> (<%= project.members.length %>)
                        </li>
                        <li class="col-xs-2">
                            <lang>Hours</lang>
                            
                        </li>
                        <li class="col-xs-2 textright">
                            <span><lang>Hourly/rate</lang></span>
                            <% if (project.type_rate == 1) { %>
                                <span class="euro" style="font-size:8px"><lang>(Fixed)</lang></span>
                                
                            <% } %>
                            
                            
                        </li>
                    </ul>
                </li>

                <% 
                total_price_again = 0;
                total_hours_again = 0;

                _.each(project.members, function(member){ 
                    user = app.userlist.getUserByid(member.id_user);
                    if (project.users_times.hasOwnProperty(member.id_user)){
                        nhours = project.users_times[member.id_user];    
                    }
                    else{
                        nhours = 0;
                    }
                    
                    total_hours_again += nhours;
                    price = project.type_rate == 1 ? parseFloat(project.hourly_rate) : parseFloat(member.hourly_rate);
                    total_price_again += price * nhours;

                %>
                <li>
                    <ul class="row">
                        <li class="col-xs-8">    
                            <img class="avatar"src="<%= user.gravatar() %>" height="35px" width="35px"/>
                            <span class="username"><%= user.cn() %></span>
                        </li>

                        <li class="col-xs-2">
                            <span class="counter"><%= app.formatNumber(nhours) %></span>
                        </li>
                        <li class="col-xs-2 textright">
                            <% if (project.type_rate == 1) { %>
                                <span> <%= project.hourly_rate %></span>
                                
                            <% } else { %>
                            <span> <%= member.hourly_rate %></span>
                            <span class="euro"> &euro;</span>
                            <% } %>
                        </li>
                    </ul>
                </li>

                <% }); %>
                <li>
                    <ul class="row">
                        <li class="col-xs-8 bold">Total</li>
                        <li class="col-xs-2 bold" >
                            <%= total_hours_again %>
                        </li>
                        <li class="col-xs-2 textright bold" >
                            <%= total_price_again %>
                            <span class="euro"> &euro;</span>
                        </li>
                    </ul>
                </li>

            </ul>

            <div class="ctrl_buttons">

                <a class="button mr" href="/<lang>lang</lang>/projects/form/<%= project.slug%>" jslink>
                    <lang>Edit project</lang>
                </a>

                <a class="cancel_link ml" href="#back" jslink>
                    <lang>Cancel</lang>
                </a>
            </div>
        </div>

        <%
            balance = project.total_budget - project.total_hours_price - project.total_spendings;
            if (balance >= 0){
                classbalance = "green";
                strbalance = "<lang>Positive</lang>";
            }
            else{
                classbalance = "red";
                strbalance = "<lang>Negative</lang>";
            }
        %>

        <div class="col-xs-3 col-xs-push-1">

            <ul class="list balance row">
                <li class="header col-xs-12 ">
                    <lang>Current balance</lang>
                </li>

                <li class="col-xs-7 <%= classbalance%>">
                    <%= strbalance %>
                </li>

                <li class="col-xs-5 textright">
                    <span class="<%= classbalance%>"><%= app.formatNumber(balance) %></span>
                    <span class="euro"> &euro;</span>
                </li>

            </ul>
            <% if (project.type_rate=="1") { %>
            <ul class="list fixprice mt20 row">
                <li class="header col-xs-12">
                    <lang>Hourly rate</lang>
                </li>
                <li class="col-xs-12 textright">
                    <span class="<%= classbalance%>"><%= app.formatNumber(project.hourly_rate) %></span>
                    <span class="euro"> &euro;</span>
                </li>
            </ul>
            <% } %>

            <ul class="list invoices">
                <li class="header">
                    <ul class="row">
                        <li class="col-xs-9">
                            <lang>Invoices</lang>
                        </li>
                        <li class="col-xs-3 textright">
                            <lang>Amount</lang>
                        </li>
                    </ul>
                </li>
                <% _.each(project.invoices,function(iv){ %>
                    <li>
                        <a href="#" data-invoice="<%=iv.id %>">
                            <ul class="row">
                                <li class="col-xs-9">
                                    <span class="bluelight"><%= iv.ref %></span>
                                    <span class="date"> (<%= moment(iv.date).format("DD/MM/YYYY") %> )</span>
                                </li>
                                <li class="col-xs-3 textright bluelight">
                                    <%= iv.amount %>
                                    <span class="euro"> &euro;</span>
                                </li>
                                <% if (iv.desc) { %>
                                    <li class="col-xs-12 inv_desc">
                                        <%= iv.desc %>
                                    </li>
                                <% } %>
                            </ul>
                        </a>
                    </li>
                <% }); %>
                 <li>
                    <ul class="row">
                        <li class="col-xs-9 bold bluelight">Total</li>
                        <li class="col-xs-3 textright bold bluelight" >
                            <%= project.total_invoices %>
                            <span class="euro"> &euro;</span>
                        </li>
                    </ul>
                </li>
            </ul>
            <a href="#" id="addinvoice" class="ctrladd">
                + <lang>Add invoice</lang>
            </a>
        </div>
    </div>

</div> <!-- End container -->

</div> <!-- #End projdetail -->