<div id="formbudget" class="projectpopup">

    <div class="margin15">

        <form>
            
            <label class="mt"><lang>Amount</lang></label>
            <input type="number" name="amount" value="<%= model.amount %>"/><br/>

            <label class="mt"><lang>Description</lang></label>
            <input type="text" name="desc" placeholder="<lang>Description</lang>" value="<%= model.desc %>"/><br/>

            <label class="mt"><lang>Date</lang></label>
            <input type="date" name="date" placeholder="dd/mm/YYYY" value="<%= model.date ? moment(model.date).format('YYYY-MM-DD') : "" %>"/>

        </form>

    </div>

    <div class="ctrlbuttons">
        <a href="#" class="highlight" id="savebudget">
            <lang>Guardar</lang>
        </a>

        <% if (model.id) { %>
        <a href="#" id="removebudget">
            <lang>Remove</lang>
        </a>
        <% } %>

        <a href="#" id="cancel">
            <lang>Cancelar</lang>
        </a>
    </div>
</div>