<div class="container" id="projectform">

<div class="row">
    <h3 class="col-xs-12">
    <%= model._id ? "<lang>Edit Project</lang>" : "<lang>New Project</lang>" %>
    </h3>
</div>

<form class="pt">
    <div class="row">
        <div class="col-x6-12 col-md-9">
            <label class="mt"><lang>Name</lang></label> 
            <input type="text" class="mt5" data-model value="<%= model.name %>" name="name"
                placeholder="<lang>Type a name to identify the project</lang>" />
        </div>

        <div class="col-x6-12 col-md-3">
            <label class="mt"><lang>Color</lang></label> 
            <input type="text" class="mt5" data-model value="<%= model.color %>" name="color"
                placeholder="<lang>Color</lang>" />
        </div>

    </div>

    <div class="row">
        
        <% 
        if (!model._id) { %>
        <div class="col-x6-4 col-md-3">
            <label class="mt"><lang>Budget</lang></label> 
            <input type="text" class="mt5" data-model name="budget" min="0" max="5" value="" />
        </div>
        <% } %>
        

        <div class="col-x6-4 col-md-3">
            <label class="mt"><lang>Hourly/rate</lang></label> 
            <select data-model name="type_rate" class="mt5" >
                <option value=1 <%= model.type_rate == 1 ? "selected" : ""%>><lang>Fix rate</lang></option>
                <option value=2 <%= model.type_rate == 2 ? "selected" : ""%>><lang>Variable rate for each member</lang></option>
            </select>
        </div>

        <div class="col-x6-4 col-md-3">

            <input data-model type="text" name="hourly_rate"  min="0" value="<%= model.hourly_rate %>" 
                <%= model.type_rate == 2 ? "style='display:none'" : ""%> />   
            
        </div>
    </div>

    <div class="row">
        <div class="col-x6-12 col-md-3">
            <label class="mt"><lang>Estado</lang></label> 
            <select name="status">
                <option value=1 <%= model.status == 1 ? "selected" : ""%>><lang>Active</lang></option>
                <option value=2 <%= model.status == 2 ? "selected" : ""%>><lang>Archive</lang></option>
            </select>
        </div>
    </div>

    <div class="row mt20">
        <div class="col-xs-12 col-md-10" style="padding-right:0">
            <input list="allusers" name="addmember" placeholder="<lang>Search user</lang>">
        </div>
        <div class="col-xs-12 col-md-2 nopadding">
            <a href="#" id="addmember">+ <lang>Add</lang></a>
        </div>

        <datalist id="allusers"></datalist> 

    </div>

    <div class="row">
          <ul id="members" class="list listusers col-xs-12"></ul>
    </div>

</form>

<a class="button mr" href="" id="save">
    <% if (model.id) { %>}
    <lang>Create project</lang>
    <% } else { %>
    <lang>Save</lang>
    <% } %>
</a>

<a class="cancel_link ml" href="#back" jslink>
    <lang>Cancel</lang>
</a>

</div>