<% 
i = -1;
_.each(model.members, function(member){ 
    i++;
    user = app.userlist.getUserByid(member.id_user);
%>
<li>
    <ul class="row">
        <li class="col-xs-4">    
            <img class="avatar"src="<%= user.gravatar() %>" height="35px" width="35px"/>
            <span class="username"><%= user.get("name") + " " + user.get("surname") %></span>
        </li>

        <li class="col-xs-6">
            <div class="hourlyrate" <%= model.type_rate == 1 ? "style='display:none'" : "" %>>
                <span><lang>Hourly rate</lang></span>
                <input type="text" data-member-idx="<%= i %>"
                    placeholder="<lang>Type a hourly rate</lang>"
                    value="<%= member.hourly_rate %>" />
                <span>&euro;</span>    
            </div>
        </li>
        <li class="col-xs-2">
            <a href="#" class="remove_member" data-member-idx="<%= i %>"><lang>Remove</lang></a>
        </li>

    </ul>
</li>

<% }); %>