<form>

    <h6><%= model.date.format("dddd, DD MMM YYYY") %> </h6>
    <label><lang>Project</lang></label>
    <select name="id_project" <%= model.id ? "disabled" : ""%>>
        <% _.each(projects,function(p){  %>
            <option value=<%= p._id %> <%= model.id_project == p._id ? "selected" : ""%>><%= p.name %></option>
        <% }) %>
    </select>
    <br/>

    <input type="number" placeholder="HH" name="hours" value="<%= model.hours %>" />
    :
    <input type="number" placeholder="MM" name="minutes" value="<%= model.minutes %>" />

    <br/><br/>

    <% if (model.id) { %>
    <a href="#" data-id="<%= model.id %>" id="deletetime">
        Delete
    </a>
    <% } %>
    <a href="#" id="save">
        <% if (!model.id) { %>
        + <lang>Add time</lang>
        <% } else { %>
        <lang>Edit</lang>
        <% } %>
    </a>
    <a href="#" id="cancel_addtime">Cancelar    </a>
</form>