<div id="formweek">

    <div class="margin15">
        <h3>
            <%= sprintf("<lang>Semana %dº %d</lang>",week.week,week.year) %>
            <span class="date">
                <%= moment(week.year+"-01-01").day("Monday").isoWeek(week.week).format("DD/MM/YYYY") %>
                -
                <%= moment(week.year+"-01-01").day("Sunday").isoWeek(week.week).format("DD/MM/YYYY") %>

            </span>
        </h3>
        <div class="status">
            <label><lang>Status</lang>: </label>
            <span data-week-status="<%= week.status %>"><%= app.weekStatusToStr(week.status) %></span>
        </div>
        <div class="clear"></div>

        <div class="usercn"><%=app.userlist.getUserByid(week.id_user).cn() %></div>

        <ul class="summary">
            <li>
                <div class="lleft"><lang>Summary</lang></div>
                <div class="lright"><lang>Hours</lang></div>
            </li>

            <% 
            var total = 0;
            _.each(week.timesbyproject,function(w){ 
                total += w.total;
            %>
                <li>
                    <div class="lleft"><%= w.projectname %></div>
                    <div class="lright"><span class="counter"><%= app.formatNumber(w.total,2) %></span></div>
                </li>
            <% })%>

            <li>
                <div class="lleft"><lang>Total</lang></div>
                <div class="lright"><%= app.formatNumber(total,2) %></div>
            </li>
        </ul>
    </div>

    <div class="greyback">
        <% if (week.notes.length>1) { %>
        <ul>
            <%_.each(week.notes,function(note){ %>
                <li class="comment">
                    <div class="title">
                        <img height="32px" width="32px" src="<%= app.userlist.getUserByid(note.id_user).gravatar() %>" />
                        <span class="cn">
                            <%= app.userlist.getUserByid(note.id_user).cn() %>
                        </span>
                        <span class="date">
                            <%= moment(note.date).format("DD MMM YYYY – HH:mm") %>
                        </span>
                    </div>
                    <p><%= app.nl2br(app.escapeHtml(note.note)) %></p>
                </li>
            <% }) %>
            
        </ul>
        <% } %>

        <div class="padding20">
            <textarea name="newnote" placeholder="<lang>Comment</lang>"></textarea>
        </div>

        
        <div class="ctrlbuttons">
            <% if (app.user.profile >= app.cons.ST_PROFILE_ADMIN) { %>

                <% if (week.status == app.cons.ST_WEEK_SENT || week.status == app.cons.ST_WEEK_REJECTED ) { %>
                <a href="#" id="acceptweek" class="highlight">
                    <lang>Accept</lang>
                </a>
                <% } %>

                <% if (week.status == app.cons.ST_WEEK_SENT || week.status == app.cons.ST_WEEK_ACCEPTED ) { %>
                <a href="#" id="rejectweek" class="highlight">
                    <lang>Reject</lang>
                </a>
                <% } %>

                 <% if ( week.id_user == app.user.id &&  
                    (week.status == app.cons.ST_WEEK_PENDING || week.status == app.cons.ST_WEEK_REJECTED) ) { %>
                    <a href="#" id="sendweek" class="highlight">
                        <lang>Send</lang>
                    </a>
                <% } %>

            <% } else  { %>

                <a href="#" id="sendweek" class="highlight">
                    <lang>Send</lang>
                </a>
                

            <% } %>

            

            <a href="#" id="cancel" jslink>
                <lang>Cancel</lang>
            </a>

        </div>

    </div>
</div>