/* 
    Styles for menu
    Created on : 04-oct-2014, 16:02:51
    Author     : Pablo García
*/

@green: #82B600;
@white: #ffffff;
@green_light: #9BC63A;

#menu{
    position: absolute;
    top: -777px;
    bottom: 0;
    width: 300px;
    height: 0px;
    background-color: @green;
    z-index:5;

    .container{
        width: 300px;

        li{
            color: @white;
            display: block;
            font-size: 17px;
            text-align: left;
            width: 100%;
            padding: 0;
            margin: 0;
            border-bottom: 1px solid @green_light;
            height: 48px;
            line-height: 48px;
            border-radius: 0px;

            a.menu-item{
                padding-left: 65px;
            }

            a.menu-item-login{
                //background-image: url('/m/img/');
            }

            a.menu-item-home{
                //background: url('/m/img/DTm_icon_menu_home.svg') no-repeat 10px 8px;
            }

            a.menu-item-account{
                //background: url('/m/img/DTm_icon_menu_cuenta.svg') no-repeat 9px 8px;
            }

            a.menu-item-mylibrary{
                //background: url('/m/img/DTm_icon_menu_mibiblio.svg') no-repeat 11px 8px;
            }

            a.menu-item-wishlist{
                //background: url('/m/img/DTm_icon_menu_deseos.svg') no-repeat 9px 8px;
            }

            a.menu-item-cart{
                //background: url('/m/img/DTm_icon_menu_carro.svg') no-repeat 8px 8px;
            }
        }
        li.selected{
            color: @green;
            background-color: @white;
        }
    }
}
