@roboto : 'Roboto', sans-serif;
@roboto_cond : 'Roboto Condensed', sans-serif;
@imgPath : '../img/';

/* Color palette */
@grey: #515155;
@grey_light: #a2a2ac;
@grey_light2: #e7e7ea;
@grey_dark: #28282b;
@grey2: #5e5e62;
@red: #d60006;
@yellow : #fdc300;
@blue : #003399;
@green: #82b600;
@orange : #ff9000;
@white :#fff;
@black: #27272e;

@pink:#ff3366;
@blue2:#018be2;
@dark_blue:#10069f;
@light_blue:#90bddb;
@grey3:#2b3033;
@grey4:#697077;
@grey5:#909599;
@grey6:#cacbcc;
@grey7:#e9eaea;
@grey8:#e9eaea;
@grey9:#ccccce;
@grey10:#808086;
@grey11 : #55555d;
@green2:#009966;
@orange2:#ff3300;
@yellow2:#cc9900;

html, body{ height:100%;}
body {
	.roboto();
	color:@black;
	font-size:14px;
	line-height:18px;
    background-color: #eeeeee;
    
}

header{
    position: relative;
    height: 65px;
    background-color: @green;
    box-shadow: 0 0 10px 0px;
    z-index:4;
}

p,span,div,table{
	.roboto();
}

input{
	padding: 0 10px;
	border: none;
	
}
input[placeholder]{
	.roboto();
	color:@grey_light;
}

.grey{ color: @grey;}
.red { color : @red;}
.yellow { color: @yellow;}
.grey_light { color: @grey_light ;}
.grey_dark { color: @grey_dark ;}
.blue { color: @blue;}
.green { color: @green;}
.orange { color: @orange;}
.grey2 { color:@grey2;}


black{ color: @black;}
grey3{ color: @grey3;}
grey4{ color: @grey4;}
grey5{ color: @grey5;}
grey6{ color: @grey6;}
grey7{ color: @grey7;}
grey8{ color: @grey8;}
grey9{ color: @grey9;}
grey10{ color: @grey9;}
pink{ color: @pink;}
blue2{ color: @blue2;}
dark_blue{ color: @dark_blue;}
light_blue{ color: @light_blue;}
green2{ color: @green2;}
orange2{ color: @orange2;}
yellow2{ color: @yellow2;}
.bluelight{
    color: #0066ff;
}

/* Fonts */

/*@style=thin,light,normal,medium,bold,ultra-bold*/ 
.roboto(@style) when(@style=thin){
	font-weight:100;
	font-family: @roboto;
}

.roboto(@style) when(@style=thinitalic){
	font-weight:100;
	font-style: italic;
	font-family: @roboto;
}

.roboto(@style) when(@style=light){
	font-weight:300;
	font-family: @roboto;
}

.roboto(@style) when(@style=lightitalic){
	font-weight:300;
	font-style: italic;
	font-family: @roboto;
}

.roboto(){
	font-weight:400;
	font-family: @roboto;
}

.roboto(@style) when(@style=italic){
	.roboto();
	font-style: italic;
}

.roboto(@style) when(@style=medium){
	font-weight:500;
	font-family: @roboto;
}

.roboto(@style) when(@style=mediumitalic){
	font-weight:500;
	font-style: italic;
	font-family: @roboto;
}

.roboto(@style) when(@style=bold){
	font-weight:700;
	font-family: @roboto;
}

.roboto(@style) when(@style=bolditalic){
	font-weight:700;
	font-style: italic;
	font-family: @roboto;
}

.roboto(@style) when(@style=ultra-bold){
	font-weight:900;
	font-family: @roboto;
}

.roboto(@style) when(@style=ultra-bolditalic){
	font-weight:900;
	font-style: italic;
	font-family: @roboto;
}

.roboto_cond(){
	font-weight:400;
	font-family: @roboto_cond;
}

.roboto_cond(@style) when(@style=italic){
	.roboto_cond();
	font-style: italic;
}

.roboto_cond(@style) when(@style=bold){
	font-weight:700;
	font-family: @roboto_cond;
}

.roboto_cond(@style) when(@style=bolditalic){
	font-weight:700;
	font-style: italic;
	font-family: @roboto_cond;
}

.roboto_cond(@style) when(@style=light){
	font-weight:300;
	font-family: @roboto_cond;
}

.roboto_cond(@style) when(@style=lightitalic){
	font-weight:300;
	font-style: italic;
	font-family: @roboto_cond;
}

.roboto_light{.roboto(light);}
.roboto_cond_bold{.roboto_cond(bold);}
.roboto_bold{.roboto(bold);}

.text_bold{ .roboto(bold);}

.uppercase{ text-transform: uppercase;}

.nav-btn-img{
    margin: 20px;
    float: left;
}
.user-name{
    float: left;
    font-size: 22px;
    
}

nav{
    color: @white;
    position: relative;
}

nav span{
    display: block;
    margin-top: 20px;
}

.new-proyect{
    width: 180px;
    position: absolute;
    left: ~"calc(50% - 90px);"
}

.new-proyect .txt-16{
    font-size: 16px;
}

.section_info_header{
    height: 130px;
    background-color: @white;
}

#login{
	background-color: #eeeeee;
	position: fixed;
	width: 100%;
	height: 100%;
	display: table;
	z-index:10;

	form{
		text-align: center;
		display: table-cell;
		/* top: 0; */
		/* bottom: 0; */
		vertical-align: middle;

        label{
            display: block;
            margin-bottom: 8px;
            margin-top: 20px;
            text-align: left;
            .roboto(bold);
        }
        input{
            width: 300px;

            &[type='button']{
                margin-top: 20px;
                border: 1px solid #ccc;
                .roboto(bold);
            }
        }

        > div{
            background: url("../img/GEO_LOG_BI_RGB.png") no-repeat right top;
            background-size: 150px 40px;
            width: 300px;
            margin:auto;
            padding-top: 2px;
        }

        .error{
            color: @red;
            text-align: left;
            font-size: 14px;
            margin-top: 15px;
        }
	}
}

#loadingstart{
    background-color: #ccc;
    position: fixed;
    width: 100%;
    height: 100%;
    display: table;
    z-index:11;
    p{
        text-align: center;
        display: table-cell;
        /* top: 0; */
        /* bottom: 0; */
        vertical-align: middle;
    }
}

label{
    color:@grey11;
}
.invalid{
    border:1px solid @red !important;
}

select, input {
    height: 46px;
    line-height: 46px;
    border:1px solid #dddddf;
    font-size: 16px;
    color: @black;
    background-color: #fff;
    width: 100%;
}

select{
    font-size: 16px;
    border-radius: 0;
}

h2{
    .roboto(light);
    font-size: 36px;
    line-height: 40px;
}

h3{
    font-size: 22px;
    .roboto(light)
}

ul.list{
    > li{
        /*ul{
            display: table;
            li{
                display: table-cell;
            }
        }*/
        min-height: 47px;
        border-bottom:1px solid @grey9;
        line-height: 47px;

        &.header{
            border-bottom:1px solid #808086;
        }
    }

    .headercol{
        color: @grey10;
    }

    .searchlist{
        background-color: transparent;
        border: none;
        padding-left: 10px;
    }
    li{
        text-align: left;
    }

    select{
        background-color: transparent;
        border:none;
        color: @grey10;
        font-size: 14px;

        &:focus{
            outline:0;

        }
    }


}

ul.listusers{
   li{
        ul{
            .avatar,.username{
                display: inline-block;
                font-size: 16px;
                vertical-align: middle;
                margin-right: 7px;
            }

            .remove_member{
                color: @red;
                float:right;
                margin-right: 10px;
            }

            input[data-member-idx]{
                width: 45px;
                height: 30px;
                line-height: 30px;
            }

            .hourlyrate{

                span{
                    color:@grey11;
                    &:first-child{
                        margin-right: 80px;
                    };
                }
            }
        }
   }
}

.button{
    line-height: 49px;
    height: 49px;
    background-color: @green;
    color:@white;
    font-size: 16px;
    .roboto(bold);
    padding:0 10px;
    display: inline-block;
}

.cancel_link{
    .roboto(light);
    font-size: 16px;
    color:@grey10;
    line-height: 49px;
    display: inline-block;
}

.counter{
    background-color: #55555d;
    color: #fff;
    .roboto(bold);
    padding: 0px 16px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}

section.header{
    background-color: @white;
}

/* Pending */
[data-week-status='1']{
    color : #ff6600;
    .roboto(italic);
}

/* Enviada */
[data-week-status='2']{
    color : #ff6600 ;
}

/* Rejected*/
[data-week-status='3']{
    color : #ff0000 ;
}

/* Accepted*/
[data-week-status='4']{
    color : #008833 ;
}

.fancybox-skin{
    border-radius: 0 !important;
}

.ctrlbuttons{
    height:50px;
    background-color: #eee;
    border: 1px solid #dddddf;
    display: flex;


    width: 100%;
    a{
        flex-grow: 1;
        
        line-height: 50px;
        .roboto(bold);
        font-size: 16px;
        color:@black;
        text-align: center;

        border-left: 1px solid #dddddf;
        
        &:first-child{
            border-left: none;
        }

        &:last-child{
            .roboto(light);
            color:@grey10;
            
        };

        &.highlight{
            background-color: @green;
            .roboto(bold);
            color: @white;
        }

    }
}

.euro{
    color: @grey10;
}

.bold{
    .roboto(bold);
}
