#timesheet{
	position: relative;

	.verticalLine{
		background-color: @green;
		position:absolute;
		height:100%;
		width:4px;
		left: 25%;
		top: 0;

	}

	#weeks{
		margin-bottom: 70px;
		position: relative;
		z-index: 2;
	}
}


.weekday{
	margin-top:20px;


	.weekDate{
		font-size: 14px;
		color: @black;
		float: right;
		
		text-align: right;
		margin-top: 20px;
	}

	.circle{
		border: 2px solid @green;
		background-color: @grey8;
		border-radius: 100%;
		width: 16px;
		height: 16px;
		float: right;
		margin-left: 10px;
		margin-top: 23px;
	}

	.timeLine{
		/*border: 1px solid @grey9;*/
		/*float: left;*/
		position: relative;
		height: 64px;

		a{
			float:left;
			width: 64px;
			height: 64px;
			background-color: #1eb7cb;
			margin-right: 1px;
			text-align: center;
			line-height: 64px;
			.roboto(bold);
			font-size: 14px;
			color:#fff;
		}

		.refline{
			width:100%;
			height:2px;
			background-color: #ccccce;
			top:30px;
			position: absolute;
			z-index: 1;
		}

		.elements{
			position: absolute;
			left: 20px;
			z-index: 2;
		}

		a.ctrl_addtime{
			background-color: #ccccce;
			font-size: 44px;
			font-weight: 100;
			width: 40px;
		}

		.totalelements{
			float: left;
			background-color: #55555d;
			color: #fff;
			.roboto(bold);
			margin-left: 16px;
			margin-top: 21px;
			padding: 0px 17px;
			border-radius: 10px;
			font-size: 14px;
			line-height: 20px;
		}
	}
}

.weekheader{
	margin-top: 70px;
}

.weekLine{
	width: 20px;
	height: 2px;
	border: 1px solid @green;
	float: left;
	margin-top: 11px;
	margin-right: 6px;
	margin-left: -1px;

}
.weekNumber{
	font-size: 12px;
	color: #808086;
	.roboto();

	a{
		.roboto();
		color: #27272e;
		border-bottom:1px solid #c9c9ca;
	}
}




#addtime{
	z-index: 3;
	position: fixed;
	right: 10px;
	top:70px;
	background-color: #fff;
	width: 340px;
	box-shadow: 0px 5px 6px #888;

	form{
		border-top: 2px solid #55555d;
		border-right: 1px solid #dddddf;
		border-left: 1px solid #dddddf;
		padding:15px 25px;
	}

	h6{
		.roboto(light);
		font-size: 22px;
		color:@black;
		margin-bottom: 26px;
	}


	select, input {
		height: 46px;
		line-height: 46px;
		border:1px solid #dddddf;
		font-size: 16px;
		color: @black;
		background-color: #eeeeee;
	}

	select{
		
		font-size: 16px;
		border-radius: 0;
		width: 100%;
		margin-top: 6px;
		margin-bottom: 18px;
	}
	
	input[name='hours'],input[name='minutes']{
		width: 52px;	
	}

	.ctrlbuttons{
		height:50px;
		background-color: #eee;
		border: 1px solid #dddddf;
		display: flex;


		width: 100%;
		a{
			flex-grow: 1;
			
			line-height: 50px;
			.roboto(bold);
			font-size: 16px;
			color:@black;
			text-align: center;

			border-left: 1px solid #dddddf;
			
			&:first-child{
				border-left: none;
			}

			&:last-child{
				.roboto(light);
				color:@grey10;
				
			};

		}
	}
}
