#timeSheet{
	background-color: @grey8;
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: auto;

	.verticalLine{
		background-color: @green;
		position:fixed;
		height:100%;
		width:4px;
		left: 600px;
	}

	#weeks{
		position: absolute;
		left: 334px;
		margin-bottom: 70px;
	}
}

.weekLine{
	width: 20px;
	height: 2px;
	border: 1px solid @green;
	float: left;
	margin-top: 11px;
	margin-right: 6px;
	margin-left: 270px;

}
.weekNumber{
	font-size: 12px;
	color: @grey10;
}
.weekDate{
	font-size: 14px;
	color: @black;
	float: left;
	width: 250px;
	text-align: right;
}

.circle{
	border: 2px solid @green;
	background-color: @grey8;
	border-radius: 100%;
	width: 16px;
	height: 16px;
	float: left;
	margin-left: 10px;
	margin-top: 4px;
}

.timeLine{
	width: 940px;
	border: 1px solid @grey9;
	float: left;
	margin-top: 12px;
}
